.card {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
}

.left {
  background-color: rgb(150, 150, 150);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 100px;
  margin: 10px;
}

.rigth {
  margin: 10px;
}